@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #143d8e;
  --darkmode-color: #fff;
}

body {
  color: var(--main-color);
  font-weight: bold;
}

[data-theme="dark"] body {
  color: var(--darkmode-color);
}

h1.title {
  font-size: 25px;
}

a.underlined {
  color: var(--main-color);
  text-decoration: underline;
}

.padding-x {
  @apply sm:px-16 px-6;
}

[data-theme="dark"] .img1-invert {
  content: url("/slider_image_title1_white.png");
}

[data-theme="dark"] .img2-invert {
  content: url("/slider_image_title2_white.png");
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-center flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.sign-in__bar {
  border: 2px solid #e6e6e6;
  box-shadow: 1px 1px 3px #0f141b,
    -1px -1px 3px #0f141b;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  @apply flex justify-start flex-col w-full relative max-sm:gap-4 max-w-md;
}

[data-theme="dark"] .sign-in__bar {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  border: 2px solid #000000;
  box-shadow: 3px 3px 6px #000000,
    -3px -3px 6px #000000;
}

.sign-in__btn {
  border: 1px solid #143d8e;
}

[data-theme="dark"] .sign-in__btn {
  border-color: #fff;
}

.margin-20 {
  margin-top: 20px;
}

.bar__item {
  @apply flex-1 w-full flex justify-start items-center relative;
}

.bar__input {
  box-shadow: 1px 1px 3px #0f141b,
    -1px -1px 3px #0f141b;
  @apply w-full h-[48px] pl-12 p-4 bg-transparent rounded-r-full rounded-full outline-none cursor-pointer text-sm;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

[data-theme="dark"] #drop-down-icon {
  content: url("/drop_down_icon_white.png");
}

[data-theme="dark"] #drop-down-icon2 {
  content: url("/drop_down_icon_white2.png");
}

.cloth-card-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.cloth-card {
  @apply flex flex-col p-6 justify-center items-start bg-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

[data-theme="dark"] .cloth-card {
  background-color: #0d1117;
  box-shadow: 3px 3px 6px #000000,
    -3px -3px 6px #000000;
  @apply hover:bg-transparent;
}

.cloth-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.cloth-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.view-more__btn {
  @apply hidden group-hover:flex bg-transparent;
}

.view-more__btn:hover {
  background-color: #143d8e;
  color: #fff;
}

/********************************** Dark/Light Mode toggle styles **********************************/
.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_input:checked+.dark_mode_label {
  background: #242424;
}

.dark_mode_input:checked+.dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.dark_mode_input:checked+.dark_mode_label svg.sun {
  fill: #7e7e7e;
}

.dark_mode_input:checked+.dark_mode_label svg.moon {
  fill: #fff;
}

/*************************************************************************/